body {
  font-family: Arial, sans-serif;
  font-size: 15px;
  background: linear-gradient(#b2d0ff, #4a7dff);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.sobre-container {
  text-align: center;
  background-color: #f0f8ff ;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
  max-width: 600px;
  width: 100%;
}

h1, h2 {
  color: #333;
}

p {color:#666;

}
p  h1 {
  text-align: justify;
}

.team-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.team-member {
  width: 45%;
  text-align: center;
}

.team-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h3 {
  margin-top: 10px;
  color: #333;
}

p {
  color: #555;
  font-size: 14px;
}
